
.main-contact{
    height: 100vh;
    .form__textarea {
        textarea{
            height: 150px;
            resize: none;
        }
        textarea::-webkit-scrollbar{display: none;}
    }

}






