// General
$generalFont:'Poiret One', cursive;
$colorTextNav:#f2f2f2;
$colorTittleHover:#fff;
$colorNav: #D4C3C3;
$colorHover-a:#ff0;
$colorText:#fff;
$colorIconReachUs:#c7a7e6;
$backgroundFooter:#6C757D;
$textShadow:3px 3px 3px #000;
$borderBrands:#c0ccda84 solid 1.5px;

//about
$backgroundMainInfo:#26212A;

//products
$buttonShadowCard:0 0 10px 3px #d6c8c8;
$cardShadow:0 0 10px 3px #463b3b;