@import 'variables.scss';
@import 'mixins.scss';
@import 'normalize.scss';
@import 'products.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'blog.scss';

.body{
    font-family: $generalFont;
    .header{
        .navbar{
            &__tittle{
                img{
                    width: 75px;
                    padding-right: 1rem;
                }
                h1{
                    display: none;
                }
            }
            &__tittle:hover{
                color: $colorTittleHover;
            }
            &-nav{
                &__link{
                    a{
                       
                        font-size: $text-base;
                    }
                    a:hover{
                        color: $colorHover-a;
                    } 
                }
                &__link:hover{
                    transform: scale(.95);
                    transition: transform 1s;
                }
            }
        }
        .navbar--color{
            background: $colorNav;
        }
    }

    /* MAIN */
    
    .main{
        height: 100vh;  
        &__home{
            height: 100%;
            background: url('./../assets/images/background.jpg');
            background-size: cover;
            background-position: top;
            @include flex(column,center,center);
            padding: 0 18%;
        }  
        &__item{
            padding: .1rem 0;
        }
        &__text{
            text-align: center;
            color: $colorText;
            text-shadow: $textShadow;
            h2{
                font-size: $text-large;
                font-weight: bold;
            }
            p{
                font-size: $text-base;
            }
        }
        &__button{
            a{
                border-radius: 12px;
            }
            a:active{
                transform: scale(.95);
            }
        }
    }
    /*BRANDS*/

    .brands{
        height: 148px;
        @include flex(row,center,center);
        &__border{
            height: 136px;
            width: 95vw;
            @include flex(row,center,center);
            flex-wrap: wrap;
            border: $borderBrands;
        }
        &__item{
            padding: 0 1.5rem;
        }
    }

    /*FOOTER*/

    .footer{
        background: $backgroundFooter;
        display: grid;
        grid-template-areas: "section1 section1"
                                "section2 section3"
                                "section4 section4";
        grid-template-rows: 20% 74% 6%;
        grid-gap: 0 3rem;
        justify-content: center;
        color: $colorText;
        a{
            @include a-style;
        }
        a:hover{
            color: $colorHover-a;
        }
        &__section{
            margin-top: 3rem;
        }
        &__socialnetworks{
            grid-area: section1;
            p{
                text-align: center;              
            }
            img{
                display: none;
            }
            ul{
                @include flex(row,none,center);
                li{
                    padding: .5rem;
                }
            }
        }
        &__quicklinks{
            grid-area: section2;
            text-align: center;
            h2{
                padding-bottom: 1rem;
            }
            ul {
                li{
                    padding: .5rem 0;
                }
                
            }
        }
        &__reachus{
            grid-area: section3;
            h2{
                padding-bottom: 1rem;
            }
            ul{
                li{
                    padding: .5rem 0;
                    i{
                        color: $colorIconReachUs;
                     }
                }
            }
        }
        &__copyright{
            grid-area: section4;
            margin-top: 0;
            font-size: $text-extraSmall;
        }
    }
}


@media (min-width:992px){
    .body{
        .header{
            .navbar{
                &__tittle{
                    @include flex(row,center,start);
                    h1{
                        display: contents;
                        text-shadow: $textShadow;
                    } 
                }
                &-nav{
                    &__link{
                        padding: 1rem;
                    }
                }
            }
        }
    
        .main{
            &__home{
                align-items: flex-start;
            }
        }
        
        .footer{
            grid-template-areas: "section1 section2 section3"
                            "section4 section4 section4";
            grid-template-rows: 93% 7%;
            justify-content: flex-start;
            padding-left: 15px;
            &__socialnetworks{
                img{
                    display: inline-block;
                }
                ul{
                    justify-content: flex-start;
                }
            }
        }
    }
}


