.body{
    font-family: 'Poiret One', cursive;
}

ul{
    list-style: none;
}

.navbar--color{
    background: #D4C3C3;
}

.nav__tittle{
    text-decoration: none;
}
.nav__tittle:hover{
    color: #fff;
}
.nav__tittle img{
    width: 75px;
    padding-right: 1rem;
}

.nav__tittle h1{
    display: none;
}

.navbar__icon{
    color: #fff;
    font-size: 2rem;
}

.nav__link:hover{
    transform: scale(.95);
    transition: transform 1s;
}
.nav__link a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.nav__link a:hover{
    color: #ff0;
} 

#offcanvasNavbar{
    background: #d4c3c3;
}
.offcanvas-title{
    color: #f2f2f2;
}


/* MAIN */

.main{
    height: 100vh;    
}

 .main__home{
    height: 100%;
    background: url('./assets/images/background.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 18%;
}

.main__item{
    padding: .1rem 0;
}

.main__text{
    align-self: center;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

.main__text h2{
    font-size: 4rem;
}

.main__text p{
    font-size: 1.5rem;
}

.main__button a{
    border-radius: 12px;
}
.main__button a:active{
    transform: scale(.95);
}

/*BRANDS*/

.brands{
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__border{
    height: 136px;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: #c0ccda84 solid 1.5px;
}

.brands__item{
    padding: 0 1.5rem;
}

/*FOOTER*/

.footer{
    background: #6C757D;
    display: grid;
    grid-template-areas: "section1 section1"
                            "section2 section3"
                            "section4 section4";
    grid-template-rows: 20% 74% 6%;
    grid-gap: 0 3rem;
    justify-content: center;
    color: #fff;
}

.footer a{
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    color: #ff0;
}
.footer__section{
    margin-top: 3rem;
}

.footer__socialnetworks{
    grid-area: section1;
}

.footer__socialnetworks p{
    text-align: center;
    margin: 0;
}

.footer__socialnetworks img{
    display: none;
}

.footer__socialnetworks ul{
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer__socialnetworks ul li{
    padding: .5rem;
}

.footer__quicklinks{
    grid-area: section2;
    text-align: center;
}

.footer__quicklinks h2{
    padding-bottom: 1rem;
}

.footer__quicklinks ul {
    padding: 0;
}

.footer__quicklinks ul li{
    padding: .5rem 0;
}

.footer__reachus{
    grid-area: section3;
}

.footer__reachus h2{
    padding-bottom: 1rem;
}

.footer__reachus ul{
    padding: 0;
}
.footer__reachus ul li{
    padding: .5rem 0;
}

.footer__reachus ul li i{
   color: #c7a7e6;
}

.footer__copyright{
    grid-area: section4;
    margin-top: 0;
    font-size: .8rem;
}

@media (min-width:992px){

    .nav__tittle{
        color: #f2f2f2;
        display: flex;
        align-items: center;
    }

    .nav__tittle h1{
        display: contents;
        text-shadow: 3px 3px 3px #000;
    } 

    .nav__link{
        padding: 1rem;
    }

    .main__text{
        align-self: flex-start;
    }
    
    .footer{
        grid-template-areas: "section1 section2 section3"
                        "section4 section4 section4";
        grid-template-rows: 94% 6%;
        justify-content: flex-start;
        padding-left: 15px;
        
    }
    .footer__socialnetworks img{
        display: inline-block;
    }

    .footer__socialnetworks ul{
        justify-content: flex-start;
        
    }
}