@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin a-style{
    text-decoration: none;
    color: $colorText;
}
