// General
$generalFont:'Poiret One', cursive;
$colorHover-a:#ff0;
$colorText:#fff;
$colorText2:#222;
$textShadow:3px 3px 3px #000;
$text-base:1.5rem;
$text-large:3.5rem;
$text-medium:2rem;
$text-small:1.1rem;
$text-extraSmall:.9rem;
$btn-color:#ededed;
$btn-colorHover:#cfcfcf;

//nav
$colorTittleHover:#fff;
$colorNav: #D4C3C3;

//brands
$borderBrands:#c0ccda84 solid 1.5px;

//footer
$backgroundFooter:#6C757D;
$colorIconReachUs:#c7a7e6;

//products
$buttonShadowCard:0 0 10px 3px #d6c8c8;
$cardShadow:0 0 10px 3px #463b3b;
