.header{
    .navbar{
        &__tittle{
            img{
                width: 75px;
                padding-right: 1rem;
            }
            h1{
                display: none;
            }
        }
        &__tittle:hover{
            color: $colorTittleHover;
        }
        &-nav{
            &__link{
                width: fit-content;
                a{
                   
                    font-size: $text-base;
                }
                a:hover{
                    color: $colorHover-a;
                } 
            }
            &__link::before{
                content: " ";
                display: block;
                width: 10px;
                height: 10px;
  
            }
            &__link:hover::before{
                width: 100%;
                border-bottom: 2px solid #ff0;
                transition: width .5s;
                
            }
            &__link:active{
                transform: scale(.90);
                transition: transform .2s;
            }
        }
    }
    .navbar--color{
        background: $colorNav;
    }
}
