.header{
    .navbar{
        &__tittle{
            img{
                width: 75px;
                padding-right: 1rem;
            }
            h1{
                display: none;
            }
        }
        &__tittle:hover{
            color: $colorTittleHover;
        }
        &-nav{
            &__link{
                a{
                   
                    font-size: $text-base;
                }
                a:hover{
                    color: $colorHover-a;
                } 
            }
            &__link:hover{
                transform: scale(.95);
                transition: transform 1s;
            }
        }
    }
    .navbar--color{
        background: $colorNav;
    }
}
