.btn-change{
    border: none;
    border-radius: 20px;
    background: $btn-color;
    width: fit-content;
}

.btn-change:hover{
    background: #cfcfcf;
} 

.btn-change:active{
    transform: scale(.95);
}