

.main-info{
    &__about{
        color: $colorText2;
        h2{
            font-size: $text-medium;
            font-weight: bold;
        }
        p{
            font-size: $text-small;
        }
    }
    &__location{
        iframe{
            width:100%;
            height:350px;
            border-radius: 33px;
        }
    }
}

