
.main-store{
    //latest collection
    .latest-collection{
        height: 100vh;
        &__container{
            width: 100%;
            overflow: hidden;
            
            @keyframes slide{
                0%{margin-left: 0%;}
                30%{margin-left: 0%;}
            
                35%{margin-left: -100%;}
                65%{margin-left: -100%;}
            
                70%{margin-left: -200%;}
                100%{margin-left: -200%;}
            }
            
        }
        &__slider{
            display: flex;
            padding: 0;
            width: 300%;
            animation: slide 6s infinite alternate ease-in-out;
            li{
                width: 100%;    
                img{
                    width: 100%;
                }            
            }
        }
    }
    
    
    /*sportswear*/
    
    .sportswear{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        overflow: hidden;
        &__card{
            margin:0 .3rem;
            min-width: 318px;
            min-height: 318px;
            max-width: 350px;
            max-height: 350px;
            @include flex(column,center,center);
            border-radius: 27px;
            color: $colorText;
            text-shadow: $textShadow;  
            text-align: center;
            button:hover{
                box-shadow: $buttonShadowCard;
            }
            
        }
        &__card:hover{
            box-shadow: $cardShadow;
        }
        &__male{
            background: url('./../assets/images/card-male.webp');
        }
        
        &__female{
            background: url('./../assets/images/card-female.webp');
        }
    }
}

.shopping-cart{
    &__container{
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: fit-content;
        z-index: 1100;
        a{
            font-size: 2rem;
            padding: .5rem 1rem;
        }
    }
}

