.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background: #26212A;
}

.main-info__section{
    padding: 1rem 0;
}

.main-info__about{
    color: #fff;
    font-size: 1.3rem;
}
.main-info__location iframe{
    width:600px;
    height:450px;
}

@media (max-width:768px){

    .main-info__location iframe{
        width:100%;
        height:250px;
        border: none;
    }
}