.main-contact{
    height: 100vh;
}


.form__textarea textarea{
    height: 150px;
    resize: none;
}

.form__textarea textarea::-webkit-scrollbar{display: none;}

.form__submit{
    background: #8A2BE2;
    padding: 1.3rem 1.8rem;
    border-radius: 18px;
}